<!DOCTYPE html>
<!-- HTML5 Hello world by kirupa - http://www.kirupa.com/html5/getting_your_feet_wet_html5_pg1.htm -->
<html lang="en-us">

<head>
	<meta charset="utf-8">	<title>JWTest</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/all.min.css">
	<script type="text/javascript" src="js/vue.js"></script>

</head>

<body>


	<main>
		<header>
			<div class="logo">
				<img src="https://vuejs.org/images/logo.png" />
				<div>Vue App Test</div>
			</div>
			<div class="blank">
				No hay un genio tan genial
			</div>
			<div class="auth">
				<div class="login">Login</div>
				<div class="register">Registro</div>
			</div>

		</header>
		<aside>
			<div class="menuLateral">
				<div class="minificator">
					<div class="tooltip collapse">
						<span class="tooltiptext">Open menu</span>
						<i id="iconoMenuMinificado" tooltip="Open Menu" class="fas fa-bars"></i>
					</div>
					<div id="minificadorTexto" class="tooltip">
						<span class="tooltiptext">Hide menu</span>
						<i class="fas fa-bars"></i> Menú
					</div>
				</div>
				<div class="elementoMenu nivel1">
					<div class="tituloMenu"><i class="fas fa-book fa-fw"></i> Blog <i class="fas fa-caret-right"></i></div>
					<div class="divMenu">
						<div class="elementoMenu nivel2">
							<div class="tituloMenu"><i class="fas fa-dot-circle"></i> SubMenu 1.1</div>
						</div>
					</div>
				</div>
				<div class="elementoMenu nivel1">
					<div class="tituloMenu"><i class="fas fa-cogs fa-fw"></i> Config <i class="fas fa-caret-right"></i></div>
					<div class="divMenu">
						<div class="elementoMenu nivel2">
							<div class="tituloMenu"><i class="fas fa-dot-circle"></i> SubMenu 2.1</div>
						</div>
						<div class="elementoMenu nivel2">
							<div class="tituloMenu"><i class="fas fa-dot-circle"></i> SubMenu 2.2 <i class="fas fa-caret-right"></i></div>
							<div class="divMenu">
								<div class="elementoMenu nivel3">
									<div class="tituloMenu"><i class="fas fa-dot-circle"></i> SubMenu 2.2.1</div>
								</div>
								<div class="elementoMenu nivel3">
									<div class="tituloMenu"><i class="fas fa-dot-circle"></i> SubMenu 2.2.2</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementoMenu nivel1">
					<div class="tituloMenu"><i class="fas fa-laptop-code fa-fw"></i> App <i class="fas fa-caret-right"></i></div>
					<div class="divMenu">
						<div class="elementoMenu nivel2">
							<div class="tituloMenu"><i class="fas fa-dot-circle"></i> SubMenu 3.1</div>
						</div>
						<div class="elementoMenu nivel2">
							<div class="tituloMenu"><i class="fas fa-dot-circle"></i> SubMenu 3.2</div>
						</div>
						<div class="elementoMenu nivel2">
							<div class="tituloMenu"><i class="fas fa-dot-circle"></i> 
								<a href="http://www.youtube.com">YouTube</a>
							</div>
						</div>
					</div>
				</div>
				<div class="elementoMenu nivel1">
					<div class="tituloMenu"><i class="fas fa-address-book fa-fw"></i> Contacto</div>
					<div class="divMenu">
					</div>
				</div>
			</div>
		</aside>
		<article v-cloak>
			<div class="cardButtons">
				
				<div class="toggles">
					<div class="toggle" :class="cargo.cargoCamel" v-for="cargo in cargos" @click="filtroToggle(cargo.value)">
						<i :id="cargo.idIcono" class="far fa-square"></i>
						<span>{{cargo.text}}</span>
					</div>
				</div>
				<div class="buscador">
					Filtro Nombre Completo:
					<input id="buscador" type="text" placeholder="Buscar..." v-model="buscador">
				</div>
				<div class="btn btn-ok" id="restore" @click="restaurar">
					<div class="btnText">
						Restaurar
					</div>
				</div>
			</div>
			<div id="cardList">
				<div class="card" v-for="hermano in hermanosFiltro">
					<div class="close">x</div>
					<div class="card-header">
						<div class="title">
							<div class="badges">
								<div class="tooltip">
									<i class="fas fa-bookmark" :class="obtenerCargoCamel(hermano.cargo)"></i>
									<span class="tooltiptext">{{obtenerCargo(hermano.cargo)}}</span>
								</div>
							</div>
							{{hermano.nombreCompleto}}
						</div>			
					</div>
					<div class="card-content">
						<img :src="hermano.imagen"/>
						<ul class="card-details">
							<li>
								<div class="tooltip">
									Sexo
									<span class="tooltiptext">{{hermano.sexo}}</span>
								</div>
							</li>
							<li>
								<div class="tooltip">
									Dirección
									<span class="tooltiptext">
										{{hermano.direccion}}
									</span>
								</div>
							</li>
							<li>
								<div class="tooltip">
									Teléfono
									<span class="tooltiptext">
										{{hermano.telefono}}
									</span>
								</div>
							</li>
							<li>
								<div class="tooltip">
									Email
									<span class="tooltiptext">
										{{hermano.email}}
									</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="card-footer">
							<a href="#"><i class="fa fa-home"></i> Accion 1</a>
					</div>
				</div>
			</div>
			
		</article>		
		<footer>Footer</footer>
	</main>

</body>

</html>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-database.js"></script>

<script>
  // Your web app's Firebase configuration
  	var firebaseConfig = {
    	apiKey: "AIzaSyDieeKp6IQzP2d0WN133eazRozQ97CddIg",
    	authDomain: "jwtest-c7136.firebaseapp.com",
    	databaseURL: "https://jwtest-c7136.firebaseio.com",
    	projectId: "jwtest-c7136",
    	storageBucket: "jwtest-c7136.appspot.com",
    	messagingSenderId: "560031423361",
    	appId: "1:560031423361:web:ae191488d09024d6"
  	};
  	// Initialize Firebase
	var firebase = firebase.initializeApp(firebaseConfig);
</script>
<script>
	//Codigo VUE.js
	const noIa = "No indicada";
	const noIo = "No indicado";
	const sD = "Sin definir";
	const imagenDef = "loremipsum.png";
	new Vue({
		el: 'article',
		created(){
			let db = firebase.database();
			let arrayHermanos = new Array();
			db.ref('/hermanos')
				.once('value')
				.then((snapshot) =>{
					Object.entries(snapshot.val()).map(function(key, index){
						let itemFB = key[1];
						let hermano = {
							nombre: isNull(itemFB.nombre,""),
							segundoNombre: isNull(itemFB.segundoNombre,""),
							apellido1: isNull(itemFB.apellido1,""),
							apellido2: isNull(itemFB.apellido2,""),
							sexo: isNull(itemFB.sexo, sD),
							edad: isNull(itemFB.edad, noIa),
							telefono: isNull(itemFB.telefono, noIo),
							direccion: isNull(itemFB.direccion, noIa),
							email: isNull(itemFB.email, noIo),
							imagen: '/images/' + isNull(itemFB.imagen, imagenDef),
							cargo: isNull(itemFB.cargo, 3)
						};
						hermano.nombreCompleto = [hermano.nombre,hermano.segundoNombre,hermano.apellido1, hermano.apellido2].join(" ").replace("  ", " ");
						arrayHermanos.push(hermano);
					})
				});
			let arrayCargos = new Array();
			db.ref('/cargos')
				.once('value')
				.then((snapshot) => {
					Object.entries(snapshot.val()).map(function(key, index){
						let cargo = {
							value: parseInt(key[0]),
							text: key[1] ,
							idIcono: 'iconoFiltro' + key[0].toString(),
							cargoCamel: camelizar(key[1]),
						};
						arrayCargos.push(cargo);
					})
				})
			this.hermanos = arrayHermanos;
			this.cargos = arrayCargos;
		},
		data:{
			hermanos:[],
			cargos:[],
			cargoFiltro: [""],
			tipoPredicaciones: ["Precursor Regular", "Precursor Especial", "Publicador"],
			tipoPredicacionFiltro: "",
			buscador: "",
		},
		computed:{
			hermanosFiltro(){				
				return this.hermanos.filter(hermano =>{
					let nombre = sinAcentos(hermano.nombreCompleto).toUpperCase();
					let buscador = sinAcentos(this.buscador).toUpperCase();
					let filtroCargo = !(this.cargoFiltro.length == 1 && this.cargoFiltro[0] == "") ? this.cargoFiltro.indexOf(hermano.cargo) !== -1 : true;
					
					return nombre.includes(buscador) && filtroCargo;
				})
			}
		},
		methods:{
			restaurar: function(){
				this.cargoFiltro = [""];
				this.buscador = "";
				let iconosFiltros = document.querySelectorAll('.fa-check-square');
				iconosFiltros.forEach(function(e){
					e.classList.toggle('fa-square');
					e.classList.toggle('fa-check-square');
				})
			},
			filtroToggle: function(valorCargo){
				let posicionCargo = this.cargoFiltro.indexOf(valorCargo);
				let iconoFiltro = document.querySelector('#iconoFiltro' + valorCargo.toString());
				iconoFiltro.classList.toggle('fa-square');
				iconoFiltro.classList.toggle('fa-check-square');
				if(posicionCargo >= 0){
					this.cargoFiltro.splice(posicionCargo, 1);
				}
				else{
					this.cargoFiltro.push(valorCargo);
				}
			},
			obtenerCargoCamel: function(cargo){
				let cargoItem = this.cargos.find(c => c.value == cargo);
				return cargoItem ? cargoItem.cargoCamel : '';
			},
			obtenerCargo: function(cargo){
				let cargoItem = this.cargos.find(c => c.value == cargo);
				return cargoItem ? cargoItem.text : '';
			}
		}
	});

	let mapaAcentos = {
		'á':'a', 
		'é': 'e', 
		'í': 'i',
		'ó': 'o',
		'ú': 'u'
	};

	function camelizar(str) {
		return str.replace(/(?:^\w|[A-Z]|\b\w|\s+)/g, function(match, index) {
			if (+match === 0) return ""; // or if (/\s+/.test(match)) for white spaces
			return index == 0 ? match.toLowerCase() : match.toUpperCase();
		});
	}

	function sinAcentos(t){
		if(!t){
			return '';
		}

		var ret = '';
		for(var i = 0; i < t.length; i++){
			ret += mapaAcentos[t.charAt(i)] || t.charAt(i);
		}
		return ret;
	}

	function isNull(value, alternative){
		return value == null ? alternative : value;
	}
	
</script>
<script>
    let db = firebase.database();
	let secciones = document.querySelectorAll('.elementoMenu');
	let minificadorMenu = document.querySelector('.minificator');
	let menu = document.querySelector('.menuLateral');
	let main = document.querySelector('main');
	let minificadorTexto = document.querySelector('#minificadorTexto');
	let iconoMenuMinificado = document.querySelector('.tooltip');
	let cardList = document.querySelector("#cardList");
	let restaurar = document.querySelector('#restore');

	secciones.forEach(function(seccion) {
		var divMenu = seccion.querySelector('.divMenu');
		var iconoTituloPadre = seccion.querySelector('.tituloMenu i:nth-child(2)');
		seccion.onclick = function(e) {
			e.stopPropagation();
			// Desactivar previos
					
			seccion.classList.toggle('active');
			if(divMenu){
				divMenu.classList.toggle('active');
			}
			if(iconoTituloPadre){
				iconoTituloPadre.classList.toggle('fa-caret-down');
				iconoTituloPadre.classList.toggle('fa-caret-right');	
			}
			
		};
	});

	minificadorMenu.onclick = function() {
		minificadorTexto.classList.toggle('collapse');
		iconoMenuMinificado.classList.toggle('collapse');
		menu.classList.toggle('minified');
		main.classList.toggle('minified');
	};

	cardList.addEventListener('click', function(e){
		if(e.target && e.target.classList.contains('close')){
			e.target.closest('.card').classList.toggle('closing');
		}
	});
	

	restore.onclick = function(){
		let closedCards = document.querySelectorAll('.closing');
		closedCards.forEach(function(closedCard){
			closedCard.classList.toggle('closing');
		});		
	}
	
	db.ref('/hermanos').on('value', function(snapshot) {
        console.log(snapshot.val());
    });
</script>

